/* Custom layout */
.custom-color-picker .react-colorful {
  border-radius: 1rem 1rem 0 0;
  background: none;
  width: 100%;
  height: 160px;

}

.custom-color-picker .react-colorful__saturation {
  margin-bottom: 0px;
  border-radius: 1rem 1rem 0 0;
  border-bottom: none;
}

/*   
  .custom-color-picker .react-colorful__hue {
    order: -1;
  } */

.custom-color-picker .react-colorful__hue,
.custom-color-picker .react-colorful__alpha {
  height: 16px;
  border-radius: 0px;
}

.custom-color-picker .react-colorful__hue-pointer,
.custom-color-picker .react-colorful__alpha-pointer {
  width: 20px;
  height: 20px;
}